@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #22254b;
  color: white;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.root {
  display: flex;
  flex-direction: column;
}

header {
  background-color: #373b69;
  display: flex;
  padding: 1rem;
  justify-content: flex-end;
}

.search {
  background-color: transparent;
  border: 2px solid #f2f2f2;
  border-radius: 6px;
  color: white;
  font-family: inherit;
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
}

.search:focus {
  outline: 0;
}

.movie-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.movie {
  background-color: #373b69;
  border-radius: 3px;
  box-shadow: 3px 3px 5pxx rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  margin: 1rem;
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.movie-data {
  width: 100%;
}

.movie:hover {
  overflow-y: scroll;
}

.movie:hover .movie-data {
  display: none;
}

.movie-info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem;
}

.movie-over {
  padding: 10rem;
}

.tag {
  margin-top: 1rem;
  background-color: #22254b;
  border-radius: 5px;
  font-weight: bold;
  padding: 0.5rem;
}

.tag.green {
  color: green;
}

.tag.orange {
  color: orange;
}

.tag.red {
  color: red;
}
